* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}



/* header style start */
header {
    margin: 60px 120px;
}

/* nav styles */

.nav-title h3 {
    color: #3A3A3A;
    font-size: 24px;
    font-weight: 700;
}

.nav-items li {
    list-style: none;
}

.nav-items a {
    text-decoration: none;
    color: #3A3A3A;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}

.nav-items ul {
    display: flex;
    gap: 60px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Banner Styles */

.banner-content h1 {
    color: #3A3A3A;
    font-size: 52px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 16px;
}


.banner-content p {
    color: #3A3A3A;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 16px;
    max-width: 582px;
}



.banner-content button {
    background-color: #E02C6D;
    color: white;
    border: none;
    border-radius: 41px;
    padding: 10px 24px;
    font-weight: 700;
}

.banner-content .btn-arrow {
    margin-left: 8px;
}

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.banner-img-container {
    padding: 30px 50px 30px 2px;
    background-image: url(/images/Circle\ design.svg);
    background-repeat: no-repeat;
}


/* Responsive design */

/* For mobile device */

@media screen and (min-width:200px) and (max-width:576px) {
    header {
        margin: 50px 25px;
    }
    .nav-container {
        flex-direction: column;
    }

    .nav-items ul {
        gap: 20px;
        margin-top: 20px;
    }

    .banner-container{
        flex-direction: column-reverse;
    } 

    .banner-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .banner-content h1 {
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        margin-top: 30px;
    }


    .banner-content P {
        text-align: center;
    }


    
}


/* For Tablet Device */

@media screen and (min-width:576px) and (max-width:992px) {

    header {
        margin: 50px 25px;
    }
    .nav-container {
        flex-direction: column;
    }

    .nav-items ul {
        gap: 40px;
        margin-top: 20px;
    }

    .banner-container{
        flex-direction: column-reverse;
    } 

    .banner-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .banner-content h1 {
        text-align: center;
        font-size: 50px;
        font-weight: 700;
        margin-top: 30px;
    }


    .banner-content P {
        text-align: center;
    }
   
}

  
 